
<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nat</th>
      <th scope="col">Seed</th>
      <th scope="col">Gender</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Picture large</th>
      <th scope="col">Picture thumbnail</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td scope="row"><%= user.nat %></td>
        <td scope="row"><%= user.seed %></td>
        <td scope="row"><%= user.gender %></td>
        <td scope="row"><%= user.name %></td>
        <td scope="row"><%= user.email %></td>
        <td scope="row"><%= user.picture_large %></td>
        <td scope="row"><%= user.picture_thumbnail %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><%= paginate @users, class: "page-link"%></li>
    
  </ul>
</nav>
